# Bytecode / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.env
.venv/
venv/
ENV/
env/
*.env

# SQLite DB
data/scouting.db

# Flask/Migrate stuff
migrations/__pycache__/
migrations/versions/*.pyc

# VSCode
.vscode/

# pytest
.pytest_cache/
.coverage
htmlcov/

# Docker
*.log
*.pid
*.tar
*.sqlite3

# OS files
.DS_Store
Thumbs.db
